@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=SourceCodePro:300,400,500,600,700,800,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}
body
{
    min-height: 100vh;
    background: white;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
div.header
{
    color: white;
}
header ul
{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li
{
    list-style: none;
    margin-left: 20px;
}
img.VegaIcon {
    position: absolute;
    left: 50%;
    bottom: 220%;
    transform: translate(-50%, -220%);
}

img.TetraLogo {
    position: relative;
    top: 90%;
    left: 50%;
    transform: translate(-50%, 90%);
}
header ul li a
{
    text-decoration: none;
    padding: 6px 15px;
    color: black;
    padding: 6px 15px;
    box-sizing: border-box;
    font-family: 'Montserrat';
    text-decoration: none;
    transition: color 0.3s linear;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
}
html {
    scroll-behavior: smooth;
}
header ul li a:hover
{
    color: #2BABE2;
    
}
header ul li a:active
{
    color: #2799ca;
}


/*header ul li a.about:active {
    margin-top: 100%;
    padding-bottom: 25%;   
}*/ 

h1 {
    color: white;
    /*padding: 450px 140px;*/
    
    
}

a.navbar-brand
{
    position: absolute;
    left: 50%;
    top: 650%;
    transform: translate(-50%, -98%);
}



h1.title
{
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -45%);
}

h1.display-2
{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -55%);
    text-align: center;
}

input.form-control-1
{
    position: absolute;
    left: 50%;
    top: 1550%;
    transform: translate(-50%, -1550%);
    width: 130px;
    height: 30px;
    border: 0;
    font-size: 18px;
    font-family: 'Roboto';
}

input.form-control-2
{
    position: absolute;
    left: 50%;
    top: 1650%;
    transform: translate(-50%, -1600%);
    width: 130px;
    height: 30px;
    border: 0;
    font-size: 18px;
    font-family: 'Roboto';
    
}



p.mt-3-lead
{
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -60%);
    text-align: center;
}

h1.logintitle
{
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -55%);
}

div.mainheading {
    color: black;
    font-family: 'Roboto';
    font-size: 50%;
    position: relative;
    
}

div.secondmainheading {
    color: black;
    font-family: 'Roboto';
    font-size: 130%;
    margin-left: 26%;
    margin-bottom: 10%;
    
}



.showCart
{
    transform: translateX(0);
}

.transparentBcg
{
    visibility: visible;
}

.products
{
    position: absolute;
    text-align: center;
    margin-top: 150px;
}

.bag-btn
{
    position: relative;
    margin-top: 20px;
}

.products-center
{
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

.title1 
{
    position: relative;
    text-align: center;
}

h3
{
    color: white;
}

h2
{
    color: black;
}

button {
    width: 130px !important;
    height: 39px !important;
    border: 0 !important;
    outline: none !important;
    font-size: 18px !important;
    font-family: 'Roboto' !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    transition: 400ms !important; 
    background-size: 300% !important;
    background-position: right !important; 
    list-style: none !important;  
    -webkit-appearance: button !important;
   -moz-appearance: button !important;
   appearance: button !important;

}

.button {
    width: 130px !important;
    height: 38px !important;
    border: 0 !important;
    outline: none !important;
    font-size: 15px !important;
    font-family: 'Roboto' !important;
    text-decoration: none !important;
    box-sizing: border-box !important;
    text-align: center !important;
    justify-content: center !important;
    align-items: center !important;
    transition: 400ms !important; 
    background-size: 300% !important;
    background-position: right !important; 
    list-style: none !important;  
    -webkit-appearance: button !important;
   -moz-appearance: button !important;
   appearance: button !important;
}

.submit {
    
    border-radius: 0px !important;
    padding: 10px 0 10px 0 !important;
}


.nav 
{
    border-radius: 0px !important;
    padding: 10px 0 10px 0 !important;
    background: var(--gradient) !important;
    --gradient: linear-gradient(to right, #2BABE2, navy, #A020F0, purple) !important;
}

.mb-7
{
    margin-bottom: 7px !important;
}

input.form-control
{
    position: absolute;
    top: 100px;
    left: 100px;
    transform: translate(-100, -100);
}

h1.zero::before
{
    opacity: 1;
}

div.servicescontainer
{
    position: absolute;
    margin-top: 15%;
}


  /* --------------- End of Navbar ---------------- */

.cart-page
{
    margin: 80px auto;
}
table
{
    width: 100%;
    border-collapse: collapse;
}
.cart-info
{
    display: flex;
    flex-wrap: wrap;
}



/*a.btn-light-mr-2
{
    width: 130px;
    height: 30px;
    border: 0;
    outline: none;
    background: var(--gradient);
    color: white;
    font-size: 22px;
    font-family: 'Roboto';
    border-radius: 10px;
    text-decoration: none;
    box-sizing: border-box;
    text-align: center;
    box-shadow: 0 5px 50px  rgba(0, 160, 253, 0.945);
    transition: 400ms; 
    --gradient: linear-gradient(to right, #2BABE2, navy, #A020F0, purple);
    background-size: 300%;
    background-position: right; 
    list-style: none;  
    -webkit-appearance: button;
   -moz-appearance: button;
   appearance: button;
   position: absolute;
   top: 950%;
   left: 50%;
   transform: translate(-50, -950);
}*/



td
{
    padding: 10px 5px;
}
td input 
{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a 
{
    color: #A020F0;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price
{
    display: flex;
    justify-content: flex-end;
}

.total-price table
{
    border-top: 3px solid #2799ca;
    width: 100%;
    max-width: 350px;
}
td:last-child
{
    text-align: right;
}
th:last-child
{
    text-align: right;
}
.small-containercart-page
{
    margin-top: 20%;
}


li
{
    list-style: none;
}

div.aboutContainer
{
    text-align: center;
}

/*a.button
{
    width: 130px;
    height: 45px;
    border: 0;
    outline: none;
    background: var(--gradient);
    color: white;
    font-size: 22px;
    font-family: 'Roboto';
    border-radius: 10px;
    text-decoration: none;
    box-sizing: border-box;
    display: flex;
    list-style: none; 
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 50px  rgba(0, 160, 253, 0.945);
    transition: 400ms; 
    --gradient: linear-gradient(to right, #2BABE2, navy, #A020F0, purple);
    background-size: 300%;
    background-position: right;  
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
}*/

