{% extends 'base.html' %}

{% block title %}
my profile
{% endblock title %}

{% block content %}

<div class="ui modal mymodal" id="modal1">
    <i class="close icon"></i>
    <div class="header">
        Update your Profile
    </div>
    <div class="image content">
        <div class="ui medium image">
        <img src="{{profile.avatar.url}}">
        </div>
        <div class="description">
        <div class="ui header">Provide some additional/newest info about you </div>
        <form action="" method="POST" class="ui form" enctype='multipart/form-data'>
            {% csrf_token %}
            {{profileform.as_p}}
        </div>
    </div>
    <div class="actions">
      <button type='submit' class="ui positive right labeled icon button">
        Update
        <i class="checkmark icon"></i>
      </button>
      </form>
    </div>
</div>
<div class="ui modal mymodal" id="modal2">
    <i class="close icon"></i>
    <div class="header">
        Create an Experiment
    </div>
    <div class="image content">
        <div class="ui medium image">
        <img src="{{profile.avatar.url}}">
        </div>
        <div class="description">
        <div class="ui header">Please title and describe your experiment, you can also activate vega if you want.</div>
        <form action="" method="POST" class="ui form" enctype='multipart/form-data'>
            {% csrf_token %}
            {{experimentform.as_p}}
            {% if chart %}
                <img src="data:image/png;base64, {{chart|safe}}">
            {% endif %}
            <button type="submit">Activate Vega</button>
        </div>
    </div>
    <div class="actions">
        <button type='submit' class="ui positive right labeled icon button">
        Finish
        <i class="checkmark icon"></i>
        </button>
        </form>
    </div>
</div>
{% if confirmprofile %}
<div class="ui green message">Your profile has been updated!</div>
{% endif %}
{% if confirmexperiment %}
<div class="ui green message">Your experiment is done, you can now share it with your fellow innovators!</div>
{% endif %}
<button data-modal="modal1" id="call-modals" class="ui secondary button">Update</button>
<button data-modal="modal2" id="call-modal-2" class="ui secondary button">Experiment</button>
{% endblock content %}